.rating-color{
  color: #ffc908;
  }

  .product .btn{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity:  0;
  }
  .product:hover .btn{
    opacity: 1;
    transform: translateY(0%);
  }
  .cursor{
    cursor: pointer;
  }

