<div class="container">
  <div class="row g-0 ">
    <div class="col-md-9 ">


      <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let onePro of allProducts">

          <ng-template carouselSlide >
            <img height="300" class="w-100" [src]="onePro?.imageCover" >
          </ng-template>
        </ng-container>

      </owl-carousel-o>


    </div>
    <div class="col-md-3">

      <div class="img1">
      <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let onePro of allProducts">
          <ng-template carouselSlide >
            <img height="150" class="w-50" [src]="onePro?.imageCover">
          </ng-template>
        </ng-container>

      </owl-carousel-o>
    </div>

      <div class="img2">
      <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let onePro of allProducts">
          <ng-template carouselSlide >
            <img height="150" class="w-50" [src]="onePro?.imageCover">
          </ng-template>
        </ng-container>

      </owl-carousel-o>
    </div>





    </div>
  </div>
<input [(ngModel)]="inputValue" class=" w-50 form-control my-5 mx-auto">

<div class="row ">
  <div *ngFor="let product of allProducts | search:inputValue " class="col-md-2 mb-4 p-5">
  <div  class="product cursor">
    <div [routerLink]="['/productDetails',product._id]">
      <img class="w-100" [src]="product.imageCover">
    <span class="fa-sm text-main"> {{product.category.name}} </span>
    <h1 class="h5 fw-bold">{{product.title.split(" ").slice(0,2).join(" ")}}</h1>
    <div class="d-flex justify-content-between">
      <span> {{product.price}}EGP </span>

<span> <i class="fa-solid fa-star rating-color"></i> {{product.ratingsAverage}} </span>
    </div>
    </div>
    <button (click)="addCartBtn(product._id)" class="btn  btn-success d-block text-white w-100 product">Add</button>
  </div>
</div>
</div>
</div>


